.seccion4>img {
    transform: translate(0, 0); /* Posición inicial */
    transition: transform 0.1s ease-out; /* Movimiento suave */
}
.card {
  opacity: 0; /* Ocultas inicialmente */
  transform: translateY(50px); /* Desplazadas hacia abajo */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Animación */
}

.card.visible {
  opacity: 1; /* Visibles */
  transform: translateY(0); /* En su posición final */
}


